<div class="page-wrapper bg-red p-t-180 p-b-100 font-robo">
    <div class="wrapper wrapper--w960">
        <div class="card card-2">
            <div class="card-heading"></div>
            <div class="card-body">
                <h1 class="h1-strong">{{title}}</h1>
                <div class="alert alert-success" *ngIf="status == 'success'">
                    Registration completed correctly , <a [routerLink]="['/login']">Identify here</a>
                </div>
                <div class="alert alert-danger" *ngIf="status == 'error'">
                    Registration failed, try again...
                </div>
                <form id="register" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)" class="col-lg-12">
                    <br>
                    <br>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label">Identification</label>
                            <mat-form-field hintLabel="numeric field" appearance="outline" style="width:100%">
                                <input id="identification" matInput #identification placeholder="#" name="identification" [(ngModel)]="user.identification" (blur)="validateIdentification(user.identification);" required pattern='^[0-9]{10}$'>
                                <mat-error *ngIf="userForm?.form?.controls?.identification?.errors?.required">
                                    Identification is required
                                </mat-error>
                                <mat-error *ngIf="!userForm?.form?.controls?.identification?.errors?.required && formCompanyWithSchool?.form?.controls?.neqNumber?.invalid">
                                    Identification is not valid
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <br><br><br><br><br>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">First name</label>
                            <mat-form-field appearance="outline" style="width:100%">
                                <input class="input" id="firstName" [maxLength]="100" matInput #fName name="firstName" [(ngModel)]="user.firstName" required>
                                <mat-error *ngIf="userForm?.form?.controls?.firstName?.errors?.required">
                                    First name is required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <br><br><br><br><br>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Last Name</label>
                            <mat-form-field appearance="outline" style="width:100%">
                                <input id="lastName" [maxLength]="100" matInput #fName name="lastName" [(ngModel)]="user.lastName" required>
                                <mat-error *ngIf="userForm?.form?.controls?.lastName?.errors?.required">
                                    Last name is required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <br><br><br><br><br>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Birthdate</label>
                            <mat-form-field style="width:100%" appearance="outline">
                                <input id="birthdate" matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="user.birthdate" name="birthdate">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <mat-error *ngIf="userForm?.form?.controls?.birthdate?.errors?.required">
                                    Birthdate is required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <br><br><br><br><br><br>
                    <br>
                    <button id="saveUser" (debounceClick)="onSubmit()" type="submit" class="btn btn-success">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>